<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lilac.mapper.UserMapper">

    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into user (username,password, name, phone, email, role, avatar)
        values (#{username}, #{password}, #{name}, #{phone}, #{email}, #{role}, #{avatar})
    </insert>

    <update id="update">
        update user
        <set>
            <if test="username != null">
                username = #{username},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="role != null">
                role = #{role},
            </if>
            <if test="avatar != null">
                avatar = #{avatar},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="selectPage" resultType="com.lilac.entity.User">
        select * from user
        <where>
            <if test="name != null and name != ''">
                name like concat('%',#{name},'%')
            </if>
        </where>
        order by id desc
    </select>

    <delete id="deleteBatch">
        delete from user
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="saveBatch">
        insert into user (username, name, phone, email, role, avatar) values
        <foreach collection="users" item="user" separator=",">
            (#{user.username}, #{user.name}, #{user.phone}, #{user.email}, #{user.role}, #{user.avatar})
        </foreach>
    </insert>

    <select id="selectByIds" resultType="com.lilac.entity.User">
        select * from user
        where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
</mapper>
